  <!-- Side bar Start -->
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-header">
              <div class="user-pic">
            <img src="http://192.168.1.27/iaa_latest/public/uploads/admin/staff_images/indexjpegjpeg.jpeg" class="img-fluid" alt="User Pic">
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
                <li class="sidebar-dropdown"> 
                  <a href="#"> 
                    <img src="http://192.168.1.27/iaa_latest/public/uploads/admin/menu_icons/pagespng.png" alt="side menu"><span>Page</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li><a href="#"><span>Page master</span></a></li>
                      <li><a href="#"><span>Page column</span></a></li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown"> 
                  <a href="#"> 
                    <img src="http://192.168.1.27/iaa_latest/public/uploads/admin/menu_icons/front-menupng.png" alt="side menu"><span>Front Menu</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">
                          <span>Front Menu List</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown"> 
                  <a href="#"> 
                    <img src="http://192.168.1.27/iaa_latest/public/uploads/admin/menu_icons/staffpng.png" alt="side menu"><span>Staff</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="http://192.168.1.27/iaa_latest/designation-list">
                          <span>Staff-Designation</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
      </div>
    </nav>
    <!-- Side bar end -->